# Python
venv
__pycache__
session.cookie

# NodeJS
node_modules
package-lock.json
eslint.config.js
.nvmrc

# General
.DS_Store
.vscode
/2022

# Tile Generation
.aoc_tiles/*
!.aoc_tiles/tiles/

# Advent Of Code
sample_input.txt
input.txt